{{ partial "header" . }}

<header>
  <h1>
    {{ .Title }}
  </h1>
</header>

<div class="pure-g">
  <div id="content-main" class="pure-u-1 pure-u-lg-4-5">

    <h2></h2>
    <ul class="list pure-menu-list">
      <div class="pure-g">
        {{ $data := .Data }}
        {{ range $key, $value := .Data.Terms.ByCount }}
          <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3">
            <li class="pure-menu-item">
              <a href="{{ $value.Name | urlize }}">
                <i class="fa fa-tag fa-fw"></i>{{ $value.Name }}
              </a>
              <span>&#40;{{ $value.Count }}&#41;</span>
            </li>
          </div>
        {{ end }}
      </div>
    </ul>

  </div>
  <div id="content-side" class="pure-u-1 pure-u-lg-1-5">
    {{ partial "social" .}}
    {{ with .Site.Params.adsense.responsive1 }}
      {{ partial  . }}
    {{ end }}
  </div>
  <div id="content-bottom" class="pure-u-1 pure-u-lg-1">
    {{ with .Site.Params.adsense.responsive2 }}
      {{ partial  . }}
    {{ end }}
  </div>
</div>

{{ partial "footer" . }}