  
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/js/lightbox.min.js"></script>
  <script>lightbox.option({'resizeDuration': 200,'wrapAround': true});</script>

  <script src="/index.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/search.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/magnesium.js" type="text/javascript" charset="utf-8"></script>
  <footer>
    {{ partial "copyright" . }}
  </footer>
  {{ with .Site.Params.adsense.mobile_anchor }}
    {{ partial . }}
  {{ end }}
  {{ partial "rewinder" . }}
</body>
</html>
