<div id="social" class="pure-g">
  {{ with .Site.Params.social.twitter }}
    <div class="pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1">
      <a href="https://twitter.com/{{ . }}" target="_blank">
        <i class="fa fa-twitter fa-fw"></i>twitter
      </a>
    </div>
  {{ end }}
  
  {{ with .Site.Params.social.facebook }}
    <div class="pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1">
      <a href="https://facebook.com/{{ . }}" target="_blank">
        <i class="fa fa-facebook fa-fw"></i>facebook
      </a>
    </div>
  {{ end }}
  
  {{ with .Site.Params.social.googleplus }}
    <div class="pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1">
      <a href="https://plus.google.com/{{ . }}" target="_blank">
        <i class="fa fa-google-plus fa-fw"></i>google-plus
      </a>
    </div>
  {{ end }}
  
  {{ with .Site.Params.social.github }}
    <div class="pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1">
      <a href="https://github.com/{{ . }}" target="_blank">
        <i class="fa fa-github-alt fa-fw"></i>github
      </a>
    </div>
  {{ end }}
  
  {{ with .Site.Params.social.stackoverflow }}
    <div class="pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1">
      <a href="http://stackoverflow.com/users/{{ . }}" target="_blank">
        <i class="fa fa-stack-overflow fa-fw"></i>stackoverflow
      </a>
    </div>
  {{ end }}
  
  {{ with .Site.Params.social.bitbucket }}
    <div class="pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1">
      <a href="https://bitbucket.org/{{ . }}" target="_blank">
        <i class="fa fa-bitbucket fa-fw"></i>bitbucket
      </a>
    </div>
  {{ end }}
  
  {{ with .Site.Params.social.gitlab }}
    <div class="pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1">
      <a href="https://gitlab.com/{{ . }}" target="_blank">
        <i class="fa fa-gitlab fa-fw"></i>gitlab
      </a>
    </div>
  {{ end }}
  
  {{ with .Site.Params.social.tumblr }}
    <div class="pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1">
      <a href="https://{{ . }}.tumblr.com/" target="_blank">
        <i class="fa fa-tumblr fa-fw"></i>tumblr
      </a>
    </div>
  {{ end }}
  
  {{ with .Site.Params.social.pinterest }}
    <div class="pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1">
      <a href="https://www.pinterest.com/{{ . }}" target="_blank">
        <i class="fa fa-pinterest fa-fw"></i>pinterest
      </a>
    </div>
  {{ end }}
  
  {{ with .Site.Params.social.instagram }}
    <div class="pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1">
      <a href="https://www.instagram.com/{{ . }}" target="_blank">
        <i class="fa fa-instagram fa-fw"></i>instagram
      </a>
    </div>
  {{ end }}
  
  {{ with .Site.Params.social.flickr }}
    <div class="pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1">
      <a href="https://www.flickr.com/photos/{{ . }}" target="_blank">
        <i class="fa fa-flickr fa-fw"></i>flickr
      </a>
    </div>
  {{ end }}
  
  {{ with .Site.Params.social.linkedin }}
    <div class="pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1">
      <a href="https://linkedin.com/in/{{ . }}" target="_blank">
        <i class="fa fa-linkedin fa-fw"></i>linkedin
      </a>
    </div>
  {{ end }}
  
  {{ with .Site.Params.social.vimeo }}
    <div class="pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1">
      <a href="https://vimeo.com/{{ . }}" target="_blank">
        <i class="fa fa-vimeo fa-fw"></i>vimeo
      </a>
    </div>
  {{ end }}
  
  {{ with .Site.Params.social.soundcloud }}
    <div class="pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1">
      <a href="https://soundcloud.com/{{ . }}" target="_blank">
        <i class="fa fa-soundcloud fa-fw"></i>soundcloud
      </a>
    </div>
  {{ end }}
  
  {{ with .Site.Params.social.lastfm }}
    <div class="pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1">
      <a href="http://www.last.fm/user/{{ . }}" target="_blank">
        <i class="fa fa-lastfm fa-fw"></i>lastfm
      </a>
    </div>
  {{ end }}
  
  {{ with .Site.Params.social.youtube }}
    <div class="pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1">
      <a href="https://youtube.com/user/{{ . }}" target="_blank">
        <i class="fa fa-youtube fa-fw"></i>youtube
      </a>
    </div>
  {{ end }}
  
  {{ with .Site.Params.social.pinboard }}
    <div class="pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1">
      <a href="https://pinboard.in/u:{{ . }}" target="_blank">
        <i class="fa fa-bookmark fa-fw"></i>pinboard
      </a>
    </div>
  {{ end }}
  
  {{ with .Site.Params.social.speakerdeck }}
    <div class="pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1">
      <a href="https://speakerdeck.com/{{ . }}" target="_blank">
        <i class="fa fa-github-square fa-fw"></i>speakerdeck
      </a>
    </div>
  {{ end }}
  
  {{ with .Site.Params.social.slideshare }}
    <div class="pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1">
      <a href="http://www.slideshare.net/{{ . }}" target="_blank">
        <i class="fa fa-slideshare fa-fw"></i>slideshare
      </a>
    </div>
  {{ end }}
  
  {{ with .Site.Params.social.amazon }}
    <div class="pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1">
      <a href="http://{{ . }}" target="_blank">
        <i class="fa fa-amazon fa-fw"></i>amazon wishlist
      </a>
    </div>
  {{ end }}
  

</div>